<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="1 seconds">

    <contextName>logback</contextName>
    <property name="log.path" value="/data/applogs/spring-rocketMq/rocket-mq-springboot.log"/>

    <appender name="mqAppender1" class="org.apache.rocketmq.logappender.logback.RocketmqLogbackAppender">
      <tag>yourTag</tag>
      <topic>test_topic</topic>
      <producerGroup>myGroup</producerGroup>
      <nameServerAddress>localhost:9876</nameServerAddress>
      <layout>
          <pattern>%date %p %t - %m%n</pattern>
      </layout>
    </appender>
    <appender name="mqAsyncAppender1" class="ch.qos.logback.classic.AsyncAppender">
      <queueSize>1024</queueSize>
      <discardingThreshold>80</discardingThreshold>
      <maxFlushTime>2000</maxFlushTime>
      <neverBlock>true</neverBlock>
      <appender-ref ref="mqAppender1"/>
    </appender>

    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </root>

</configuration>